html,
body {
    scroll-behavior: smooth;
    height: 100vh;
    font-family: fantasy;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.landing {
    background-image: url(../images/assets/backgrouds/landingimage.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

nav {
    border: 3px 3px black;
    box-shadow: 0 0 10px 0 grey;
    position: relative;
}

nav h1 {
    color: chocolate;
    font-size: 25px;
    font-weight: 900;
    background-color: #111;
    border-radius: 10px;
}

nav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: chocolate;
}

.sidenav {
    background-image: url(../images/assets/backgrouds/landingimage2.jpg);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 20px 0 chocolate;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: chocolate;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.menuIcon {
    font-size: 20px;
    cursor: pointer;
    color: #f1f1f1;
    font-family: fantasy;
}

#head {
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-top: 4px solid chocolate;
    border-bottom: 4px solid grey;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

#headContents {
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
}

#head h1 {
    text-align: center;
    font-size: 150px;
    font-stretch: ultra-expanded;
    color: #f1f1f1;
}

#heademphasis {
    color: chocolate;
}

#head h5 {
    color: black;
    font-size: 50px;
    text-shadow: 5px 5px 10px chocolate;
    border: none;
    border-bottom: 2px solid;
    border-radius: 20px;
}

.btn {
    border: none;
    width: auto;
    border-radius: 10px;
    background: chocolate;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 30px 0 black;
}

.btn:hover {
    background: coral;
}

#mouse-click {
    text-align: center;
    font-size: 100px;
    padding-top: 2.2%;
    animation: bounce 5s infinite;
}

#mouse-click img {
    width: 50px;
    height: 100px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}

#about {
    background-color: white;
    color: black;
    min-height: 50vh;
    border-top: 4px solid grey;
    border-bottom: 4px solid chocolate;
    border-radius: 20px;
}

#aboutExplain {
    margin-top: 3%;
    text-align: center;
}

#gif {
    margin-top: 3%;
    border-radius: 20px;
}

.textShadow {
    text-shadow: 5px 5px 5px chocolate;
}

#foodmenu {
    background-image: url(../images/assets/backgrouds/landingimage.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-top: 3%;
}

#foodmenuContents {
    margin-top: 3%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 3%;
    color: white;
}

#foodmenuContents h2 {
    text-decoration: underline;
    text-decoration-color: chocolate;
}

#deluxe {
    box-shadow: -15px 0 20px 0 grey;
}

#classic {
    box-shadow: -18px 0 20px 0 chocolate;
}

.carousel-indicators li {
    background: #111;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#deluxecontrols {
    float: left;
}

#classiccontrols {
    float: right;
}

.fas {
    color: black;
    border: 2px solid chocolate;
}

.btn-floating {
    border-radius: 100%;
}

.card {
    height: 450px;
}

.card-img-top:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.card-title {
    color: chocolate;
}

.card-img-top {
    width: 100%;
    height: 200px;
    transition: transform .2s;
    margin: 0 auto;
}

.card-body {
    height: 150px;
}

.card-footer {
    height: 50px;
}

#order {
    background-image: url(../images/assets/backgrouds/landingimage.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-top: 3%;
}

#order h2 {
    text-align: center;
}

#orderContent {
    margin-top: 3%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 3%;
    color: white;
}

#deluxeOrder {
    box-shadow: -15px 0 20px 0 grey;
    cursor: pointer;
}

#classicOrder {
    box-shadow: -18px 0 20px 0 chocolate;
    cursor: pointer;
}

#deluxepizzaForm,
#classicpizzaForm,
.toppings,
#megaToppings,
#largeToppings,
#mediumToppings,
#regularToppings,
.ordersMade {
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}